@media (min-width: 768px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        justify-self: center;
        margin-top: 3rem;
    }
}