.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction, .whyus {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 3rem;
}

.introduction span{
    font-size: 10px;
    margin-bottom: -100px;
    font-weight: 500;
}

.introduction, .whyus h3{
    margin-top: -10px;
    font-size: 14px;
}

.introduction,.whyus p{
    font-size: 12px;
    margin-top: -10px;
    line-height: 25px;
}

.imageWrapper{
    position: relative;
    width: 50%;
    aspect-ratio: 1/1;
    margin-left: 25%;
    margin-top: 3rem;
}

.imageSection {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

.imageSectionWrapper{
    position: relative;
    width: 43%;
    aspect-ratio: 1/1;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .introduction{
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    .introduction span{
        font-size: 12px;
        margin-bottom: -400px;
        font-weight: 500;
    }

    .introduction, .whyus h3{
        margin-top: -10px;
        font-size: 18px;
    }

    .introduction,.whyus p{
        font-size: 16px;
        margin-top: -10px;
        line-height: 40px;
    }


    .introContent{
        width: 50%;
    }

    .imageWrapper{
        width: 20%;
        margin-left: 10%;
    }

    .whyus{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .textContent{
        width: 32%;
    }

    .imageSection{
        width:34%;
        margin-left: 20%;
    }

    .imageSectionWrapper{
        position: relative;
        width: 40%;
        aspect-ratio: 1/1;
        border-radius: 20px;
    }
}