.container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
    grid-auto-flow: dense;
    padding: 2rem 0;
    
}


.card {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.phones { aspect-ratio: 20 / 19.5; background-image: url('/phones.jpg'); }
.headphones { aspect-ratio: 20 / 14.5; background-image: url('/headphones.jpg'); }
.accessories { aspect-ratio: 20 / 17; background-image: url('/accessories.jpg'); }
.music { aspect-ratio: 20 / 15; background-image: url('/music.jpg'); }
.laptops { aspect-ratio: 1 / 1; background-image: url('/laptops.jpg'); grid-row: span 2; }
.tablets { aspect-ratio: 20 / 17.5; background-image: url('/tablets.jpg'); }

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}


