

.container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}


.card {
  min-width: 75%;
  aspect-ratio: 3 / 4;
  scroll-snap-align: start;
}

 

.card {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 40%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    aspect-ratio: 1/1;
}


.phones {background-image: url('/phones.jpg'); }
.headphones {  background-image: url('/headphones.jpg'); }
.accessories {background-image: url('/accessories.jpg'); }
.music {background-image: url('/music.jpg'); }
.laptops {background-image: url('/laptops.jpg'); }
.tablets {background-image: url('/tablets.jpg'); }

.overlay {
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    height: 100%;
}
@media (min-width: 1024px) {
  .container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, auto);
    gap: 20px;
  }

  .card {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .phones {
    grid-column: span 1;
    aspect-ratio: 1 / 1;
  }

  .headphones {
    grid-column: span 2;
    aspect-ratio: 2 / 1;
  }

  .accessories {
    grid-column: span 1;
    aspect-ratio: 1 / 1;
  }

  .music {
    grid-column: span 2;
    aspect-ratio: 2 / 1;
  }

  .laptops {
    grid-column: span 2;
    grid-row: span 2;
    aspect-ratio: 1 / 1;
  }

  .tablets {
    grid-column: span 2;
    aspect-ratio: 2 / 1;
  }

  .overlay {
    font-size: 18px;
  }
}
