.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.timer{
    display: flex;
    gap: 8%;
    align-items: center;
    justify-content: center;
}

.timeItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeItem div{
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    background-color: #bdc1cf;
    width: fit-content;
    font-weight: 600;
    border-radius: 5px;
}

.discountImage{
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    position: relative;
    background-image: url('/smallPromo.png');
        background-position: 50%;
        background-size: cover;
}

.imageNav{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 10%;
}

.imageCircle{
    width: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: #d9d9d9;
    background-color: #d9d9d9;
}

@media (min-width: 768px) {
    .discountImage{
        aspect-ratio: 38.3/10;
        background-image: url('/longPromo.png');
        background-position: 50%;
        width: 75%;
        background-size: cover;
    }
}