.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.timer{
    display: flex;
    gap: 8%;
    align-items: center;
    justify-content: center;
}

.timeItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeItem div{
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    background-color: #bdc1cf;
    width: fit-content;
    font-weight: 600;
    border-radius: 5px;
}

.discountImage{
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    position: relative;
    background-image: url('/smallPromo.png');
        background-position: 50%;
    max-width: 1200px;
        background-size: cover;
}

.imageNav{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 10%;
}

.imageCircle{
    width: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: #d9d9d9;
    background-color: #d9d9d9;
}

@media (min-width: 768px) {
    .discountImage{
        aspect-ratio: 38.3/10;
        background-image: url('/longPromo.png');
        background-position: 50%;
        width: 85%;
        background-size: cover;
    }
}
/* 
ATOUCH KS45
ATOUCH KS46
ATOUCH KT12
BEBE B2040 PROMAX
BEBE CANDY
BEBE LUBUBU
BEBE TAB PUPPY
BEBE TAB RINO
BEBE TAB TOTO 5G
DISCOVER FIRE 4PRO
DISCOVER FIRE 9
EASY TECH
BEBE FLASH
BEBE SIMBA
OTEETO TAB 73
ATOUCH KT6
MAC PAD AIR M5+ ULTRA
TELZEAL P103
INFINIX SMART 10HD
APPLE FLIP F15 MINI
ITEL 2166
ITEL 2311
INFINIX SMART 10HD
ITEL 2165
ITEL A80
JSTAR 5027
JSTAR T535
MEZ G3
TECNO 303
TECNO902
V5606
V45
V112
INFINIX 20000MAH
NEWAGE 22500MAH TURBO ULTRA 8
NEWAGE 22500MAH TURBO Y107PROMAX
NEWAGE 33000MAH
NEW AGE LAPTOP PB 40000MAH
NEWAGE 12500MAH TYPE C IN/OUT
NEWAGE 22500MAH
NEW AGE 55000MAH
NEW AGE HEAVY DUTY 80000MAH
NEW AGE 66000MAH
NEW AGE WIRELESS PB 20W
NEWAGE WIRELESS PB 10W
ORAIMO 30000MAH
OMNI 30000MAH
FOOMEE 20000MAH
AIRPOD 4
AIRTEL 5G ROUTER ESIM
CHUPEZ 64GB FLASH
EARLDOM 5IN1 WIRELESS CHARGER
ECPOR SUPER FAST
I FLASH 4IN1 32GB
INFINIX BUDS LITE
ITEL CLIPPER 3
ITEL SMART WATCH
JAMAX EARPOD
MTN WIFI
MTN UNIVERSAL TYPE C
MILLION OPTION CHARGER
NEW AGE 33W 2IN1 TYPE C CHARGER
NEW AGE CAR CHARGER
NEW AGE IRON MAN MINI CHARGER
NEW AGE SOUL POD
ORAIMO 2.4 IPHONE CHARGER
SHPLUS 120W TYPE B CHARGER
T13 CAR MP3
TECNO TYPE C CHARGER
TECNO USB CHARGER */