.container{
    width: 100%;
    background-color: var(--main-color);
    height: 75px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
}


.search{
    width: 60%;
    position: relative;
}

.search input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 1rem;
}

.search input::placeholder{
    font-size: 12px;
}

.search input:focus{
    outline: none;
}

.search span{
    position: absolute;
    font-size: 20px;
    margin-top: 10px;
    margin-left: -30px;
    color: var(--main-color)
}

.menuButton{
    display: flex;
}

.miscButtons{
    display: none;
}

.menuButton button{
    color: white;
    background-color: transparent;
    font-size: 24px;
    border: none;
    margin-top: 8px;
}

.mobileMenuContainer{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.548);
    z-index: 1;
    min-height: fit-content;
    height: 100%;
}

.mobileMenu{
    width: 80%;
    height: 100%;
    background-color: var(--main-color);
    color:white;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.mobileMenu hr{
    width: 80%;
    border-color: #d9d9d9;
}

.topItems{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.topItems span{
    font-size: 20px;
}

.menuLogo ,.categories, .misc{
    margin-left: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .menuButton {
        display: none;
    }

    .miscButtons{
        display: flex;
        gap: 1rem;
    }

    .miscButtons button{
        color: white;
        background-color: transparent;
        font-size: 24px;
        border: none;
        margin-top: 8px;
    }
}