.container{
    width: 100%;
    height: 150px;
    background-image: url('/hero-background.jpg');
    background-size:cover;
    background-position: 50%;
    margin-top: 0;
    color: white;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.705);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.overlay h3{
    font-size: 20px;
    width: 80%;
    margin-top: 0px;
}

.overlay p{
    font-size: 10px;
    width: 80%;
    color: #d9d9d9;
}

.overlay button{
    padding: .8rem;
    font-size: 12px;
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 768px) {
    
    .container {
        height: 250px;
    }

    .overlay h3{
        font-size: 48px;
    }

    .overlay p{
        font-size: 20px;
    }

    .overlay button{
        font-size: 16px;
        padding: 1.2rem;
    }

}