.container{
    display: flex;
    gap: 1%;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: fit-content;
    flex: 0 0 auto;
    width: 200%;
    overflow: hidden;
}