.container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.content{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    flex: 0 0 100%;
}

.content::-webkit-scrollbar {
    display: none;
}

.content{
    scrollbar-width: none;
}

.content > * {
    scroll-snap-align: start;
}

/* Tablet */
@media (min-width: 768px) {

    .container{
        padding: 1rem;
    }

    .content {
        padding-left: 10%;
        padding-right: 10%;
        flex-wrap: wrap;
        overflow-x: visible;
        scroll-snap-type: none;
        justify-content: flex-start;
        flex-direction: row;
    }

    .content > * {
        flex: 0 0 calc(33.333% - 1rem);
    }
}

/* Desktop — 5 per row */
@media (min-width: 1200px) {
    .content > * {
        flex: 0 0 calc(20% - 1rem);
        flex-wrap: wrap;
    }
}
