.container{
    width: 100%;
    max-width: 200px;
    height: auto;
    display: flex;
    flex: 1 1 48%;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.imageWrapper{
    width: 50%;
    aspect-ratio: 1/1;
    position: relative;
}

.body{
    display: flex;
    flex-direction: column;
    gap:0px;
    width: 80%;
}

.category{
    color: #979797;
    font-size: 8px;
    margin-bottom: -4px;
}

.title{
    font-size: 9.6px;
    margin-bottom: -12.8px;
    font-weight: 500;
}

.price{
    font-size: 12.8px;
    font-weight: 600;
}

.button{
    width: 90%;
    background-color: var(--main-color);
    color: white;
    font-size: 9.6px;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: 5px;
    transition: .4s;
}

.button:hover{
    background-color: #1a097a;
    cursor: pointer;
}

.hotTag{
    font-size: 14px;
    background-color: white;
    box-shadow: 0px 0px 4px #979797;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 5px;
    color: var(--main-color);
    font-weight: 600;
    position: absolute;
    left: 10px;
}

@media (min-width: 768px) {
    .container{
        width: 20%;
        max-width: 300px;
        height: 360px;
    }

    .category {
        font-size: 12px;
        margin-bottom: -8px;
    }

    .title{
        font-size: 16px;
        margin-bottom: -18px;
    }

    .price{
        font-size: 18px;
    }

    .button{
        font-size: 16px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: .9rem;
        padding-bottom: .9rem;
        border-radius: 8px;
    }
}

@media (min-width: 1024px) {
    .container{
        width: 30%;
        max-width: 270px;
        height: 320px;
    }

    

    .category {
        font-size: 15px;
        margin-bottom: -8px;
    }

    .title{
        font-size: 18px;
        margin-bottom: -18px;
    }

    .price{
        font-size: 21px;
    }

    .button{
        font-size: 16px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: .9rem;
        padding-bottom: .9rem;
        border-radius: 8px;
    }
}