.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100px;
}


.left p {
    font-size: 10px;
    color: #9b9b9b;
}

.left h3{
    margin-top: -10px;
    font-size: 16px;
    color: var(--main-color);
}

.productContainer{
    width: 100%;
    overflow: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 2rem;
}


.mobileMenuContainer{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.548);
    z-index: 1;
    min-height: fit-content;
    height: 100%;
    display: flex;
}

.mobileMenu{
    width: 60%;
    height: 100%;
    color:black;
    background-color: white;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.mobileMenu h3{
    font-weight: 500;
}

.close{
    width: 85%;
    display: flex;
    justify-content: right;
}

.close button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: var(--main-color);
}

.priceBox{
    border: 1px solid #1e1a599d;
    width: 80%;
    border-radius: 10px;
    padding-left: 5%;
}

.minMax{
    display: flex;
    gap: 40%;
    flex-wrap: wrap;
}

.inputBox{
    position: relative;
    width: 38%;
}


.inputBox input{
    height: 30px;
    width: 71%;
    border-radius: 5px;
    border: 1px solid rgb(146, 146, 146);
    margin-bottom: 0px;
    padding-left: 1.5rem;
}

.divider{
    width: 10%;
    text-align: center;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.inputBox span{
    position: absolute;
    margin-left: .5rem;
    font-size: 14px;
    margin-top: 6.5px;
}

.inputBox p{
    font-weight: 500;
    margin-top: 5px;
}

.brandBox{
    border: 1px solid #1e1a599d;
    width: 85%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.brandBoxTop{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.brandBoxTop p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.brandBoxBody {
    width: 90%;
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 3%;
}

.checkbox input{
    width: 20px;
    height: 20px;
}

.checkbox p{
    font-size: 14px;
}

.saveButton{
    padding: 1rem;
    width: 85%;
    background-color: var(--accent-color);
    color: #19127c;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.desktopMenu{
    display: none;
}

@media (min-width: 768px) {


    .left p {
        font-size: 12px;
    }

    .left h3{
        margin-top: -12px;
        font-size: 18px;
    }
    
    .productContainer{
        justify-content: center;
        gap: 5%
    }


    .alignContainer{
        display: flex;
        width: 100%;
        padding-left: 6%;
        gap: 3%;
        margin-bottom: 3rem;
        align-items: flex-start;
    }
}

@media (min-width: 1024px) {

    .left p {
        font-size: 16px;
        margin-top: 2rem;
    }

    .left h3{
        margin-top: -12px;
        font-size: 24px;
    }

    .productContainer{
        justify-content: flex-start;
        row-gap: 7rem;
        column-gap: 2%;
    }

    .desktopMenu{
        width: 20%;
        height: 100%;
        color:black;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .right{
        display: none;
    }

    .alignContainer{
        display: flex;
        width: 100%;
        padding-left: 6%;
        gap: 3%;
        margin-bottom: 3rem;
        align-items: flex-start;
    }
}