.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}

.container h3{
    font-size: 20px;
    margin-bottom: 0px;
}

.container p{
    font-size: 10px;
    margin-top: 5px;
}

@media (min-width:768px) {
    .container h3{
        font-size: 35px;
    }

    .container p{
        font-size: 15px;
    }
}

/* .container h3{
    font-size: 32px;
    margin-bottom: 0px;
}

.container p{
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400;
    color: #9b9b9b;
} */