
.container {
  width: 100%;
  height: 40px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.container p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.linkButton {
  background: none;
  border: none;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  padding: 0;
}

.modal {
  inset: 0;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.425);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.modalContent {
  width: 80%;
  max-width: 400px;
  aspect-ratio: 1/1.5;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--main-color);
}

.imageWrapper {
  width: 55%;
  aspect-ratio: 1/1;
  position: relative;
  margin-bottom: 1rem;
}

.modalContent h4 {
  font-size: 1.8rem;
  color: var(--main-color);
  margin-bottom: 0.5rem;
}

.subText {
  color: var(--main-color);
  font-style: italic;
  margin-bottom: 1rem;
}

.comeBack {
  width: 70%;
  min-width: fit-content;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: white;
  background-color: var(--main-color);
  cursor: pointer;
  transition: background 0.2s ease;
}

.comeBack:hover {
  background-color: #072c6b; 
}

@media (min-width: 768px) {
  .modalContent {
    width: 40%;
    aspect-ratio: 1/1;
  }

  .comeBack {
    width: 40%;
  }
}