

body {
  font-family: var(--font-poppins);
  padding: 0;
  background-color: white;
  margin: 0;
  color: black;
  font-size: 12px;
}

:root{
  --main-color: #096cc9;
  --accent-color: #ffb600; 
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}