

body {
  font-family: var(--font-poppins);
  padding: 0;
  background-color: white;
  margin: 0;
  color: black;
  font-size: 12px;
  overflow-x: hidden;
}

:root{
  --main-color: #096cc9;
  --accent-color: #ffb600; 
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

input:focus{
  outline: none;
}

a{
  text-decoration: none;
  color: black;
}